<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Cambiar Contraseña: {{user}} </h1>
    <form   method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">Actualizar</button>
    </form>
</body>
</html>