<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Verificacion de Email</h1>
    <h3>Ingrese el codigo de Verifcacion</h3>
    <form  method="POST">{% csrf_token %}
        {{form.as_p}}
        <button type="submit">Confirmar</button>
    </form>

</body>
</html>